<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img width="80%" height="80%" src="/assets/avatar.png" />
    </div>
    <mat-card-title>
      {{ userData?.displayName?.[0]?.toUpperCase()  }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form
      class="register-form"
      [formGroup]="updateProfileForm"
      (submit)="updateCurrentUser()"
    >
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Name</span>
          <span matListItemLine>{{ userData?.displayName }}</span>
          <mat-form-field matListItemLine class="form-field">
            <mat-label> E-mail </mat-label>
            <input
              placeholder="pat@example.com"
              matInput
              formControlName="email"
              required
            />
            <mat-error *ngIf="email?.touched && email?.invalid">
              <span *ngIf="email?.errors?.['required']"
                >This field is mandatory.</span
              >
              <span *ngIf="email?.errors?.['pattern']"
                >Please Enter a Valid Email.</span
              >
            </mat-error>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Email</span>
          <span matListItemLine>{{ userData?.email }}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Phone</span>
          <span matListItemLine>{{ userData?.phone }}</span>
        </mat-list-item>
      </mat-list>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <app-custom-btn title="Edit" (click)="updateCurrentUser()"
      >Edit</app-custom-btn
    >
  </mat-card-actions>
</mat-card>
