// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$User-Manager-primary: mat.define-palette(mat.$deep-orange-palette);
$User-Manager-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$User-Manager-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$User-Manager-theme: mat.define-light-theme(
  (
    color: (
      primary: $User-Manager-primary,
      accent: $User-Manager-accent,
      warn: $User-Manager-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($User-Manager-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.success-snackbar {
  color: rgb(8, 8, 94);
  --mdc-snackbar-container-color: rgb(8, 8, 94);

  .mat-simple-snackbar-action {
    color: white;
  }
}

.error-snackbar {
  max-width: max-content !important;
  color: rgb(197, 77, 77);
  --mdc-snackbar-container-color: rgba(199, 73, 73, 0.867);
  border-color: #d43746;

  .mat-simple-snackbar-action {
    color: white;
  }
}
